body{
    background-color:rgb(22, 10, 255);
    color:rgb(255, 255, 255);
    /* height: 2000px;
    width: 1000px; */

    text-align:center;
    justify-items:center;
}
header{
    width: 100%;
    grid-area:1/1/2/7;
}
    nav{
        max-width:100%;
        max-height:50%;
        background-color:rgb(14, 210, 21);
        font-size: 50px;
        grid-area:2/1/2/7;
        text-align: center;
        text-decoration: none;
        border-radius:15px;
    }
.logo{
    max-width:150px;
    max-height:150px;
    grid-area:1/1/1/1;
    border-radius:30px;
}
main{
    display:grid;
    grid-template-rows:repeat(6, 200px);
    grid-template-columns:repeat(6,1fr);
    text-align:justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: 20px;
}
.first{
    grid-area:1/2/2/4;
    max-height: 100%;
}
.second{
    grid-area:4/3/3/6;
    max-height: 100%;
}
.third{
    grid-area:5/2/6/4;
    max-height: 100%;
    max-width:100%
}
.fourth{
    grid-area:7/3/10/6;
    max-height: 100%;
}
.fifth{
    text-align:center;
    grid-area:10/1/10/8;
    max-height: 100%;
}
.images{
    max-width:100px;
    max-height:100px;
    display:grid;
    grid-template-rows:repeat(6, 200px);
    grid-template-columns:repeat(6,200px);
}
.pictureone{
    grid-area:1/5/1/5;
    width:600px;
    height:400px;
}
.picturetwo{
    grid-area:3/2/3/3;
    width:600px;
    height:400px;
}
.picturethree{
    grid-area:5/5/5/5;
    width:600px;
    height:400px;
}
.picturefour{
    grid-area:8/2/8/4;
    width:600px;
    height:400px;
}
.head{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display:inline-block;
    text-align: center;
    align-content:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width:10%;
    max-height:90%;
    min-width:300px;
    text-decoration:bold;
}
input[type=text] ,select,textarea{
    background-color:rgb(0, 255, 106);
    border: 3px solid rgb(0, 0, 0);
    color:rgb(51, 51, 51);
    border-radius:10px;
    min-height:30px;
    min-width:300px;
}
input[type = text]:hover{
    background-color:aqua;
}
input[type = submit]{
    background-color:rgb(0,255,106);
    font-size:20px;
    min-height:30px;
}
input[type = submit]:hover{
    background-color:aqua;
}
footer{
background-color:rgb(14,210,21)
}